.blog-container {
  width: 100%;
  display: flex;
}

.blog-image {
  height: 600px;
  width: 50%;
  position: relative;
  margin-right: 16px;
  overflow: hidden;
  display: flex;
}

.blog-text {
  margin-left: 16px;
  width: 50%;
}

@media screen and (max-width: 996px) {

  .blog-container {
    flex-direction: column;
  }

  .blog-image {
    width: 100%;
    margin: 0;
  }

  .blog-text {
    width: 100%;
    margin: 0;
  }
  
}