
.large-image-container {
  height: 250px;
  flex: 1;
  background-color: grey;
  position: relative;
  overflow: hidden;
}

.image {
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
  max-height: 100%;
}

.large-item-container {
  margin-right: 24px;
  text-align: center;
  flex: 1;
}

.large-item-container:hover {
  cursor: pointer;
}

@media screen and (max-width: 996px) {

  .image {
    max-height: none;
    max-width: 100%;
  }

  .large-item-container {
    margin: 0;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 440px) {

  .image {
    max-width: none;
    max-height: 100%;
  }
}