@import url('https://fonts.googleapis.com/css?family=Source+Sans+3:regular,bold,italic,medium,semi-bold');

body {
  margin: 0;
  font-family: 'Source Sans 3';
  font-weight: normal;
}

h1 {
  margin: 0;
  font-size: 36px;
}

.back-button {
  width: 100%;
  max-width: 900px;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  display: flex;
  align-items: center;
}

.main-container {
  align-self: center;
  display: flex;
  font-weight: normal;
  align-items: center;
  height: calc(100vh - 120px);
  justify-content: space-between;
  flex-direction: column;
  padding-left: 32px;
  padding-right: 32px;
}

@media screen and (max-width: 996px) {

  .main-container {
    height: fit-content;
  }

  .back-button {
    margin-left: 32px;
    margin-right: 32px;
  }

}

