@import url('https://fonts.googleapis.com/css?family=Source+Sans+3:regular,bold,italic,medium,semi-bold');

body {
  margin: 0;
  font-family: 'Source Sans 3';
  font-weight: normal;
}

h1 {
  margin: 0;
  font-size: 36px;
}

.main-container {
  align-self: center;
  display: flex;
  font-weight: normal;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  padding-left: 32px;
  padding-right: 32px;
}

